<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="evntapi.rest.mapper.EventMapper">
    <resultMap id="eventResultMap" type="evntapi.domain.Event">
        <id     property="pk"           column="event_pk"/>
        <result property="name"         column="event_name"/>
        <result property="location"     column="event_location"/>
        <result property="startDate"    column="event_start_date"/>
        <result property="endDate"      column="event_end_date"/>
        <result property="description"  column="event_description"/>
        <result property="allowMaybes"  column="event_allow_maybes"/>
        <result property="rsvpDate"     column="event_rsvp_date"/>
        <result property="eventPhoto"   column="event_photo"/>
        <result property="isActive"     column="event_is_active"/>

        <collection property="eventUsers" resultMap="evntapi.rest.mapper.EventUserMapper.eventUserResultMap"/>
    </resultMap>

    <sql id="eventSelectCols">
        event.pk as event_pk,
        event.name as event_name,
        event.location as event_location,
        event.start_date as event_start_date,
        event.end_date as event_end_date,
        event.description as event_description,
        event.allow_maybes as event_allow_maybes,
        event.rsvp_date as event_rsvp_date,
        event.event_photo as event_photo,
        event.is_active as event_is_active,

        <include refid="evntapi.rest.mapper.EventUserMapper.eventUserSelectCols"/>
    </sql>

    <sql id="eventTables">
        event
        left join event_user_role_response eurr on (event.pk = eurr.event_fk)
        left join user eu_user on (eu_user.pk = eurr.user_fk)
        left join role on (role.pk = eurr.role_fk)
        left join response on (eurr.response_fk = response.pk)
        left join user_security_role eu_usr on (eu_usr.user_fk = eu_user.pk)
        left join security_role eu_securityRole on (eu_securityRole.pk = eu_usr.security_role_fk)
    </sql>

    <select id="findAll" resultMap="eventResultMap">
        select
            <include refid="eventSelectCols"/>
        from
            <include refid="eventTables"/>
    </select>

    <select id="findByPk" resultMap="eventResultMap">
        select
            <include refid="eventSelectCols"/>
        from
            <include refid="eventTables"/>
        where
            event.pk = #{pk}
    </select>

    <select id="findByUserFk" resultMap="eventResultMap">
        select
            <include refid="eventSelectCols"/>
        from
            <include refid="eventTables"/>
        where
            #{userFk} in (select eventUser.user_fk from event_user_role_response eventUser where eventUser.event_fk = event.pk)
        and
            event.is_active = 1
    </select>

    <select id="findFutureByUserFk" resultMap="eventResultMap">
        select
            <include refid="eventSelectCols"/>
        from
            <include refid="eventTables"/>
        where
            #{userFk} in (select eventUser.user_fk from event_user_role_response eventUser where eventUser.event_fk = event.pk)
        and
            event.is_active = 1
        and
            event.start_date >= sysdate()
    </select>

    <insert id="insert" parameterType="evntapi.domain.Event" useGeneratedKeys="true" keyProperty="pk" keyColumn="PK">
        insert into
            event(pk, name, location, start_date, end_date, description, allow_maybes, rsvp_date, event_photo, is_active)
        values
            (#{pk},
            #{name},
            #{location},
            #{startDate},
            #{endDate},
            #{description},
            #{allowMaybes},
            #{rsvpDate},
            #{eventPhoto},
            #{isActive})
    </insert>

    <update id="update" parameterType="evntapi.domain.Event">
        update
            event
        set
            name = #{name},
            location = #{location},
            start_date = #{startDate},
            end_date = #{endDate},
            description = #{description},
            allow_maybes = #{allowMaybes},
            rsvp_date = #{rsvpDate},
            event_photo = #{eventPhoto},
            is_active = #{isActive}
        where
            pk = #{pk}
    </update>
</mapper>