<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="evntapi.rest.mapper.EventUserMapper">
    <resultMap id="eventUserResultMap" type="evntapi.domain.EventUser">
        <result property="responseDate" column="eurr_response_date"/>

        <association property="user" resultMap="evntapi.rest.mapper.UserMapper.userResultMap"/>
        <association property="role" resultMap="evntapi.rest.mapper.RoleMapper.roleResultMap"/>
        <association property="response" resultMap="evntapi.rest.mapper.ResponseMapper.responseResultMap"/>
    </resultMap>

    <sql id="eventUserSelectCols">
        eurr.response_date as eurr_response_date,
        <include refid="evntapi.rest.mapper.UserMapper.userSelectCols"/>,
        <include refid="evntapi.rest.mapper.RoleMapper.roleSelectCols"/>,
        <include refid="evntapi.rest.mapper.ResponseMapper.responseSelectCols"/>
    </sql>

    <sql id="eventUserTables">
        event_user_role_response eurr
        left join user on (eurr.user_fk = user.pk)
        left join role on (eurr.role_fk = role.pk)
        left join response on (eurr.response_fk = response.pk)
        left join user_security_role usr on (usr.user_fk = user.pk)
        left join security_role securityRole on (securityRole.pk = usr.security_role_fk)
    </sql>

    <select id="findByEventFk" resultMap="eventUserResultMap">
        select
        <include refid="eventUserSelectCols"/>
        from
        <include refid="eventUserTables"/>
        where
        eurr.event_fk = #{eventFk}
    </select>

    <insert id="insert" parameterType="evntapi.domain.EventUser">
        insert into
        event_user_role_response(event_fk, user_fk, role_fk, response_fk, response_date)
        values
        (#{eventFk},
        #{user.pk},
        #{role.pk},
        #{response.pk},
        #{responseDate})
    </insert>

    <update id="update" parameterType="evntapi.domain.EventUser">
        update
        event_user_role_response
        set
        role_fk = #{role.pk},
        response_fk = #{response.pk},
        response_date = #{responseDate}
        where
        event_fk = #{event.pk}
        and
        user_fk = #{user.pk}
    </update>

    <delete id="delete">
        delete from
        event_user_role_response
        where
        event_fk = #{event.pk}
        and
        user_fk = #{user.pk}
    </delete>

</mapper>