<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="evntapi.rest.mapper.PositionedImageMapper">
    <resultMap id="positionedImageResultMap" type="evntapi.domain.PositionedImage">
        <id     property="pk"          column="positionedImage_pk"/>
        <result property="image"       column="positionedImage_bytes"/>
        <result property="scrollTop"  column="positionedImage_scroll_top"/>
        <result property="scrollLeft" column="positionedImage_scroll_left"/>
    </resultMap>

    <sql id="positionedImageSelectCols">
        positioned_image.pk as positionedImage_pk,
        positioned_image.bytes as positionedImage_bytes,
        positioned_image.scroll_top as positionedImage_scroll_top,
        positioned_image.scroll_left as positionedImage_scroll_left
    </sql>

    <sql id="positionedImageTables">
        positioned_image
    </sql>

    <select id="findAll" resultMap="positionedImageResultMap">
        select
        <include refid="positionedImageSelectCols"/>
        from
        <include refid="positionedImageTables"/>
    </select>

    <select id="findByPk" resultMap="positionedImageResultMap">
        select
        <include refid="positionedImageSelectCols"/>
        from
        <include refid="positionedImageTables"/>
        where
        positioned_image.pk = #{pk}
    </select>

    <insert id="insert" parameterType="evntapi.domain.PositionedImage" useGeneratedKeys="true" keyProperty="pk" keyColumn="PK">
        insert into
            positioned_image(pk, bytes, scroll_top, scroll_left)
        values
            (#{pk},
            #{image},
            #{scrollTop},
            #{scrollLeft})
    </insert>
</mapper>