@import "../valo/valo.scss";

@mixin evntwebapp {
	@include valo;

    .v-slot-navbar{
        background-color: #FFCC00;
        padding: 10px;
        box-shadow: 0px 0px 10px #885500;
        border-radius: 10px;
    }

    .v-verticallayout-login-box{
        background-color: rgba(100, 100, 100, .3);
        border-radius: 10px;
    }

    .v-panel{
        @include linear-gradient(#AADDFF, white);
    }
}
