@import "../valo/valo.scss";

@mixin evntwebapp {
	@include valo;

	.v-panel-content-no-scroll {
	    overflow: hidden;
	}

	.v-panel-content-repositionable:hover{
    	opacity: .8;
    	cursor: pointer;
    }
}
